@import "bootstrap/scss/bootstrap";
$primary:       #68A4E3 !default;

$secondary:     #7B68E3 !default;

$success:       #687DE3 !default;

$info:          #68CAE3 !default;

$warning:       #A368E3 !default;

$danger:        #B4BCE3 !default;